body{
    font-family: "Poppins", sans-serif;
    padding-right: 60px;
}



.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    width: 312px;
    justify-content: space-between;
}

.nav li{
    list-style-type: none;
    color: #4D4D4D;
}

.nav li a{
    text-decoration: none;
    color: #4D4D4D;
}

.nav li .Home{
    color: #F54748;
}

.container_input{
    display: flex;
    align-items: center;
    position: relative;
}

.icon_search{
    width: 16px;
    position: absolute;
    height: 16px;
}
.search{
    width: 290px;
    height: 54px;
    background-image: url('images/icon_search.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
    padding-left: 40px;
    font-size: 16px;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.cart{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 30px;
}
.notification-badge{
    color: white;
    background-color: red;
    height: 28px;
    width: 28px;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px; 
     box-shadow: -2px 3px 3px rgba(181, 0, 0, 0.2);
}

.search_devider{
    height: 27px;
    width: 1.5px;
    background-color: #F2F2F2;
    position: absolute;
    right: 65px;
}

/* -------------------------------------------------- */

.section_1{
    display: flex;
    justify-content: space-between;
}

.block_label{
    display: inline-flex;
    background-color: #FDECEC;
    border-radius: 23px;
    width: 214px;
    justify-content: center;
    height: 46px;
    align-items: center;
}

.block_label img{
    width: 26px;
    height: 26px;
    margin-left: 5%;
}

.block{
    max-width: 580px;
}

.block h1{
    font-size: 74px;
    line-height: 88px;
    font-weight: bold;
}

.block h1 span{
    color: #F54748;
    font-weight: normal;
}

.button_group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.button_group a{
    text-decoration: none;
}
.button_group .order_btn{
    padding: 20px 30px;
    color:white;
    border-radius: 12px;
    background-color: #F54748;
}

.button_group .play_btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 20px solid #FDC55E;
    position: absolute;
    left: 42%;
    top: 35%;
    text-align: center;
	border-bottom: 12px solid transparent;
}